article {
    margin-left: 5rem;
    margin-right: 5rem;
}

.flx {
    display: flex;
    flex-direction: column;
}

.txt {
    
    margin-bottom: 2rem;
}


img.face {
    height: 35vw;
    margin: auto;
    display: block;
    border : solid 0.4rem;
    border-color: black;
}
