:root {
    --primary : rgb(11,114,97);
    --secondary : rgb(30,30,30);
    --black : rgb(0,0,0);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    /* font-size: 1.25vw; */
    color: lightgrey; 
}

@media only screen and (max-width: 1000px) {
    svg {
      display: none;
    }
  }

  @media only screen and (max-width: 800px) {
    :root {
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 500px) {
    :root {
      font-size: 7px;
    }
  }


body {
    background-color: var(--secondary);
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--black);
}
body::-webkit-scrollbar-thumb {
    background: var(--primary);
}
.Title {
    color: var(--primary);
}

h1.Title {
    text-align: center;
    /*background-color: darkcyan;
    border : solid 0.4rem;*/
    border-left: 0;
    border-right: 0;
    /*border-color:rgb(0,0,0);
    color: rgb(30,30,30);*/
    color: var(--primary) ;
    margin-top: 8rem;
}

a:link {
    color : rgb(153, 255, 102);
}

a:visited {
    color : rgb(61, 255, 51);
}

div.contact {

    display: flex;
    flex-direction: column;
}

div.identifiants {
    display: flex;
    flex-direction: row;

}

div.identifiants div {
    margin: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0;
}


.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: var(--primary);
    border : solid 0.4rem;
    border-left: 0;
    border-right: 0;
    border-color:var(--black);

}


.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-right: 2%; */
    /* margin-left: 2%; */
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    

}

.navbar-nav li {
    display: block;
    /* margin-left: auto; */
    /* margin-right:auto ; */
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 1.6vw;
    transition: background-color 0.3s ease-in-out,
                border 0.3s ease-in-out,
                backgroung 0.3s ease-in-out ;
}
.navbar-nav li:hover {
    /*background-color: rgb(0, 127, 139);*/
    background: linear-gradient(var(--primary), rgb(0, 77, 77));
    border : solid 0.1rem;
    border-color: var(--black);
}

.navbar a {
    color : var(--secondary) ;
}

svg {
    margin-left: 1rem;
    fill: var(--primary);
}
.accordion {
    /*margin-top: 5rem;
    padding: 2rem;
    width: fit-content;*/
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: var(--primary);
    border: solid 0.4rem;
    border-color: black;
    transition: background-color 0.3s ,
                display 0.3s;
}
.accordion:hover {
    /*background-color: rgb(0, 127, 139);*/
    background: linear-gradient(var(--primary), rgb(0, 77, 77));
}
.accordion-title {
    margin-left: 5rem;
    margin-right: 5rem;
    cursor: pointer;
    color: var(--secondary);
}
.accordion-content {
    display: none;
    flex-direction: column;
}

.accordion-content p {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1.5rem;
}

.legend {
    text-align: center;
    font-style: italic;
    margin-top: 0.1rem;
}

.img_row {
    display: flex;
}

.resize {
    width: 50%;
}

li a {
    text-decoration: none;
}
