
h2.Title {
    color: var(--secondary);
}

img.face {
    max-width: 45%;
    margin: auto;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 50%;
}


div.presentation {
    display: flex; 
    flex-direction: row;
    background-color: var(--primary);
    border : solid 0.4rem;
    border-left: 0;
    border-right: 0;
    border-color:var(--black);
    transition: background-color 0.3s ease-in;

    
}

div.presentation:hover{
    background: linear-gradient(var(--primary), rgb(0, 77, 77));
    
}

div.presentation article {
    /* text-align: center; */
    /*
    margin-left: 4rem;
    margin-right: 4rem;*/
    display: block;
    margin: auto;
    /* font-size: 1.25vw; */

    
}



