.box {
    width: 100%;
    border: 1px var(--gradient_color) solid;
    background-color: var(--bg);
    cursor: pointer;

}

.box:hover {
    background:  linear-gradient(135deg, var(--bg) 60%, var(--gradient_color));
}

.box_title {
    text-align: start;
    color: var(--gradient_color);
    margin-left: 20px;
}

.box_content {
    text-align: start;
    /* color: var(--bg); */
    margin-left: 20px;
    margin-right: 20px;
}

