
.extended_nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--bg); 
    border-bottom:1px var(--secondary_color) solid;
    




    
}

nav {

    display: flex;
    justify-content: right;
    align-items: center;
    width: 100vw;
    height: auto;
    margin: auto;
    /* background-color: var(--bg); */
    
}




.links {
    display: flex;
    justify-content: space-evenly ;
    align-items: center ;
    min-width: 50%;
    margin-right : 20px;
    

}


.links a {
    text-decoration: none;
    color: var(--secondary_color);
    margin-top: 1rem ;
    margin-bottom: 1rem;
    transition: all 1s;
}

.links a:hover {
    color: var(--primary_color); 
    

}



.svg {
    display: none;
    height: 45px;
    width: auto;
    margin-right : 20px;
    border-radius: 15%;
    margin : 7px;
    transition: all 1s;
}

.svg:hover {
    background-color: var(--primary_color) ;
    cursor: pointer;
}

.extended {
    display: none;
}

@media (max-width: 700px) {
    .svg {
        display: flex;
        justify-content: right;
        margin-right: 20px;
    }

    
    .links {
        display: none;
    }

    .extended {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 35px;
        /* background-color: var(--bg); */
    
    }
    
    .extended a {
        color :var(--secondary_color);
        text-decoration: none;
        transition: all 1s;
    
    }
    .extended a:hover {
    
        
        color : var(--primary_color) ;
        cursor : pointer;
    
    }



}





