.photo_text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.photo_text img {

    margin: 25px;
    border-radius: 50%;
    
}

@media (max-width: 700px) {
    .photo_text {
        display: block;
    }
}